-r requirements.txt
flake8
check-manifest
codacy-coverage
coveralls
interrogate
lxml
mypy
pydocstyle
pycodestyle
pylint
pytest-cov
pytest-random
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
