-r requirements.txt
flake8
check-manifest
codacy-coverage
coveralls
lxml
mypy
pydocstyle
pycodestyle
pylint
pytest<7.0.0
pytest-cov
pytest-mccabe
pytest-random
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
